@import url(http://fonts.googleapis.com/css?family=Ubuntu|Open+Sans);

/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Ubuntu', sans-serif;


*/

.site-visit{
	float: left;
  	font-size: 16px;
	line-height: 50px;
	text-align: center;
	padding: 0 10px;
	width: 100px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
	height: 50px;
	display: block;
	color: white;
}


.boxmodel{
	background: #fff;
	width: 100%;
	height: 100%;
}

.form-group input{
	margin:5px 0;
}

.form-group label{
	line-height: 38px;
}
.hidden{
	display: none;
}

.manageimages{
	list-style: none;
}
.manageimages li{
	display: inline-block;
	margin: 10px;
}
.manageimages .image-w {
  display: block;
  position: relative;
  width: 150px;
}

.manageimages img{
	height: 150px;
	vertical-align:top;

}
.manageimages a:hover .cover {
  background-color: rgba(200,0,0,.8);
  color: rgba(255,255,255,1);
  transition: all .2s linear;
}

.manageimages a:hover{
	background:rgba(0,0,0,0.6);
	transition: all 0.5s;
    -webkit-transition: all 0.5s;.
}


.cover {
  position: absolute;
  bottom: 0; left: 0;
  width: 150px;
  height: 32px;
  color: rgba(255,255,255,0);
  text-align: center;

}
.btn-dashboard{
	color: #fff;
	display: inline-block;
	width: 300px; height: 100px;
	margin: 10px;
	background: #2980b9;
	padding:10px;
	overflow: hidden;
}
.btn-dashboard .icon{
	font-size: 72px;
	color:rgba(255,255,255,0.4);
	position: relative;
	top: 0; right: 0;
}

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../img/check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background:url(../img/check_radio_sheet.png) -19px top no-repeat;
}

.testimonials .testimonial img{
	display: inline-block;
	margin: 10px 10px 10px 0;
}
.testimonials .testimonial .info{
	display: inline-block;
}
.testimonials .testimonial .info .rating{
	font-size: 14px;
}
.testimonials .testimonial .info h1{
	font-size: 16px;
	text-align: center;
	font-weight: bold;
}


